/* ====CATEDRAL METROPOLITANA DE PORTOVIEJO JESUS EL BUEN PASTOR==== */
.preload {
  position: fixed;
  margin: auto;
  z-index: 999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    display: table;
}
.preload img{
    width: 150px;
    height: auto;
}
.preload p{
    font-weight: 800;
    position: relative;
    padding-top: 5px;
}
.preload p span{
    position: absolute;
    right: 0;
    width: 0;
    background: #fff;
    border-left: 1px solid #353535;
    animation: maquina 3s infinite alternate steps(21);
}
@keyframes maquina{
   from{
       width: 100%;
}to{
    width: 0;
}
}
.cover{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 99999;
  position: fixed;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
/* ================================= 
  HEADER
==================================== */
.header {
    padding: 1em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.logoheader{
    color: #353535;
    font-size: 9px;
}
.logoheader a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logoheader img{
    width: auto;
    height: 100px;
}
.logoheader a h1{
    padding-left: 15px;
}  
header ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
header h2, header h3, header a{
    color: #353535;
}
header a{
    text-decoration: none;
}
.main-nav{
    margin: 5px 0;
    align-items: center;
    font-size: 16px;
    display: flex;
}
.main-nav a{
    display: block;
    transition: all 300ms ease;
}
.main-nav a:hover{
    color: #ff8000;
}
.logoheader a, .main-nav a{
    padding: 5px 35px;
    text-align: center;
}
/* ================================= 
  CAROUSEL
==================================== */
.carousel{
    position: relative;
    padding: 20px 40px;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.carousel-item img {
    display: block;
    height: 480px;
    width: 100%;
    object-fit: cover;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}
.carousel-item .ctextos{
    color: #353535;
    position: absolute; 
    bottom: 0;
    right: 50px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    text-align: center;
}
.carousel-item .ctextos h2{
    font-size: 30px;
}
.carousel-item .ctextos h1{
    font-size: 45px;
}
.carousel-item .ctextos1{
    color: #fff;
    position: absolute;
    z-index: 9999; 
    background-color: rgba(0, 0, 0, 0.5);   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 8px;
    text-align: center;
}
.carousel-item .ctextos1 h1{
    font-size: 50px;
}
.carousel-item .ctextos1 h2{
    font-weight: 400;
    font-size: 40px;
}
.carousel-control {
    color: #353535;
    display: none;
    font-size: 50px;
    height: 40px;
    font-weight: 800;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.carousel-control.prev {
    left: 2%;
}
.carousel-control.next {
    right: 2%;
}
.carousel-control:hover {
    color: #fff;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2{
    display: block;
}
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}
.carousel-bullet {
    visibility: hidden;
}
.carousel-bullet:hover {
    color: #ff8000;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet{
    color: #ff8000;
}
#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Manrope', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
/* ================================= 
  SECCIONVIDEO
==================================== */
.seccionvideo{
    position: relative;
}
#video-background {
    height: 700px;
    width: 100%;
    object-fit: cover;
}
.textosv{
    position: absolute;
    float: left;
    display: block;
    padding-left: 35px;
    margin: auto;
    z-index: 999;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.textosv h1{
    color: #ff8000;
    font-size: 65px;
    font-weight: 800;
}
.textosv p{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
/* ================================= 
  MISASDONACIONES
==================================== */
.triple{
    display: flex;
    padding: 20px 0;
}
.triple .bloquetriple{
    display: block;
    width: 50%;
    padding: 0 30px;
}
.triple .bloquetriple .misas p,
.triple .bloquetriple .donaciones p{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    color: #353535;
}
.triple .bloquetriple .misas p span,
.triple .bloquetriple .donaciones p span{
    color: #252525;
}
.triple .frame1{
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 0;
}
.triple #uno{
    padding: 0 30px;
    display: flex;
}
.triple #dos, .triple #tres, .triple #cuatro, .triple #cinco{
    display: none;
}
.naranja{
    color: #ff8000;
    font-size: 50px;
    font-weight: 800;
}
.triple .bloquetriple .misas h2 span,
.triple .bloquetriple .misas p,
.triple .bloquetriple .donaciones p{
    font-weight: 400;
}
.triple .bloquetriple .misas h2 span{
    font-size: 38px;
    color: #252525;
}
/* ================================= 
  MAPA
==================================== */
.mapa{
    justify-content: center;
    display: flex;
    margin: 35px 0;
    text-align: center;
    border: 0;
}
/* ================================= 
  FOOTER
==================================== */
footer .footerc{
    width: 100%;
    height: 700px;
    background-image: url('../media/fondofooter.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #353535;
}
footer .footerc h2{
    display: block;
    padding: 35px 0;
    padding-left: 35px;
}
footer .footerc .doble{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}
footer .footerc .doble .doble1{
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
footer .footerc .doble .doble1 .cuadrofoto{
    background-color: #fff;
    width: 324px;
    margin: auto;
}
footer .footerc .doble .doble1 .cuadrofoto .textocf{
    line-height: 2px;
    padding: 5px;
}
footer .footerc .doble .doble1 .cuadrofoto .textocf h1,
footer .footerc .doble .doble1 .cuadrofoto .textocf h2,
footer .footerc .doble .doble1 .cuadrofoto .textocf p{
    padding: 15px 0;
}
footer .footerc .doble .doble1 .cuadrofoto .textocf p{
    font-size: 30px;
}
footer .footerc .doble .doble2{
    width: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
footer .footerc .doble .doble2 .contacto i{
    font-size: 75px;
    color: #fff;
    padding: 5px 0;
}
footer .footerc .doble .doble2 .contacto p{
    font-size: 30px;
    font-weight: 400;
    padding: 5px 0;
    color: #fff;
}
footer .footerc .doble .doble2 .redessociales{
    padding: 5px 0;
}
footer .footerc .doble .doble2 .redessociales h2{
    padding: 15px 0;
    font-weight: 400;
    color: #ff8000;
    font-size: 30px;
}
footer .footerc .doble .doble2 .redessociales a{
    text-decoration: none;
    padding: 0 25px;
    text-align: center;
    align-items: center;
}
footer .footerc .doble .doble2 .redessociales a i{
    font-size: 85px;
    color: #fff;
    transition: all 300ms ease;
}
footer .footerc .doble .doble2 .redessociales a i:hover, footer .footerc .doble .doble2 .redessociales a i:focus{
    font-size: 75px;
}
footer .piedepagina{
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 120px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
footer .piedepagina p{
    margin: auto;
    font-size: 28px;
    line-height: 25px;
    padding: 0 15px;
}
footer .piedepagina .footert{
    margin: auto;
    font-size: 10px;
}
footer .piedepagina .footert a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 300ms ease;
}
footer .piedepagina .footert a:hover, footer .piedepagina .footert a:focus{
    color: #ff8000;
    font-size: 15px;
}
/* ================================= 
  MEDIAQUERIES
==================================== */
@media screen and (max-width: 1150px){
    .header,
    .main-nav{
        display: flex;
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
    .logoheader a, .main-nav a{
    padding: 3px 20px;
    text-align: center;
        align-items: center;
    }
    .carousel{
    padding: 10px 40px;
}
    .carousel-item .ctextos h2{
    font-size: 20px;
}
    .carousel-item .ctextos h1{
    font-size: 30px;
}
    .carousel-item .ctextos1 h1{
    font-size: 40px;
}
    .carousel-item .ctextos1 h2{
    font-weight: 400;
    font-size: 30px;
}
    .carousel-item img {
    height: 400px;
}
    .carousel-bullet {
        visibility: hidden;
}
    #video-background {
    height: 600px;
}
    .textosv h1{
        font-size: 50px;
}
    .textosv p{
    font-size: 25px;
}
    .triple{
    display: block;
}
    .triple .bloquetriple{
    display: flex;
    width: 100%;
    padding: 0 30px;
}
    .triple .bloquetriple .misas,
    .triple .bloquetriple .donaciones{
        width: 50%;
        align-items: baseline;
        justify-content: center;
        align-content: space-around;
        text-align: center;
    }
    .triple .bloquetriple .misas p,
    .triple .bloquetriple .donaciones p{
    font-size: 18px;
}
    .naranja{
    font-size: 35px;
}
    .triple .bloquetriple .misas h2 span{
    font-size: 25px;
}
    .triple .frame1{
        width: 100%;
        padding-top: 15px;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
}
    .mapa iframe{
        width: 830px;
    }
    footer .footerc{
    height: 600px;
}
    footer .footerc h2{
    padding: 25px 0;
    padding-left: 25px;
}
    footer .footerc .doble .doble2 .contacto i{
    font-size: 55px;
    padding: 3px 0;
}
    footer .footerc .doble .doble2 .contacto p{
    font-size: 20px;
    padding: 3px 0;
}
    footer .footerc .doble .doble2 .redessociales{
    padding: 3px 0;
}
    footer .footerc .doble .doble2 .redessociales h2{
    padding: 10px 0;
    font-size: 22px;
}
    footer .footerc .doble .doble2 .redessociales a{
    padding: 0 15px;
}
    footer .footerc .doble .doble2 .redessociales a i{
    font-size: 50px;
}
    footer .footerc .doble .doble2 .redessociales a i:hover, footer .footerc .doble .doble2 .redessociales a i:focus{
    font-size: 45px;
}
    footer .piedepagina p{
    font-size: 22px;
    line-height: 25px;
}
}
@media screen and (max-width: 850px){
    .mapa iframe{
        width: 680px;
    }
    footer .piedepagina p{
    font-size: 18px;
    line-height: 25px;
}
}
@media screen and (max-width: 700px){
    .logoheader a h1{
    padding-left: 8px;
}
    .logoheader img{
    height: 80px;
}
    .logoheader{
    font-size: 7px;
}
    .header{
    padding: .5em;
}
    .main-nav{
    margin: 3px 0;
    font-size: 12px;
}
    .carousel-item .ctextos h2{
    font-size: 15px;
}
    .carousel-item .ctextos h1{
    font-size: 25px;
}
    .carousel-item .ctextos1 h1{
    font-size: 30px;
}
    .carousel-item .ctextos1 h2{
    font-weight: 400;
    font-size: 20px;
}
    .carousel-item img {
    height: 300px;
}
    #video-background {
    height: 500px;
}
    .textosv h1{
        font-size: 40px;
}
    .textosv p{
    font-size: 20px;
}
    .triple .bloquetriple .misas p,
    .triple .bloquetriple .donaciones p{
    font-size: 13px;
}
    .naranja{
    font-size: 25px;
}
    .triple .bloquetriple .misas h2 span{
    font-size: 15px;
}
    .triple #dos{
        display: flex;
    }
    .triple #uno, .triple #tres, .triple #cuatro, .triple #cinco{
        display: none;
    }
    .mapa iframe{
        width: 480px;
        height: 300px;
    }
    footer .footerc{
        height: auto;
        text-align: center;
        justify-content: center;
    }
    footer .footerc .doble{
        display: block;
    }
    footer .footerc .doble .doble1{
        width: 100%;
    }
    footer .footerc .doble .doble2{
    padding: 20px 0;
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    .logoheader a h1{
    padding-left: 6px;
}
    .logoheader img{
    height: 60px;
}
    .logoheader{
    font-size: 6px;
}
    .header{
    padding: .3em;
}
    .main-nav{
    margin: 2px 0;
    font-size: 8px;
}
    .carousel{
    padding: 20px 20px;
}
    .carousel-item .ctextos h2{
    font-size: 12px;
}
    .carousel-item .ctextos h1{
    font-size: 20px;
}
    .carousel-item .ctextos1 h1{
    font-size: 20px;
}
    .carousel-item .ctextos1 h2{
    font-size: 12px;
}
    .carousel-item img {
    height: 220px;
}
    .textosv h1{
        font-size: 30px;
}
    .textosv p{
    font-size: 15px;
}
    .triple .bloquetriple .misas p,
    .triple .bloquetriple .donaciones p{
    font-size: 10px;
}
    .naranja{
    font-size: 20px;
}
    .triple .bloquetriple .misas h2 span{
    font-size: 12px;
}
    .triple #tres{
        display: flex;
    }
    .triple #uno, .triple #dos, .triple #cuatro, .triple #cinco{
        display: none;
    }
    .mapa iframe{
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width: 420px){
    .preload img{
        width: 80px;
        height: auto;
}
    .preload p{
        font-size: 10px;
}
    .logoheader a, .main-nav a{
    padding: 3px 8px;
}
    .carousel{
    padding: 20px 10px;
}
    .textosv h1{
        font-size: 28px;
}
    .textosv p{
    font-size: 12px;
}
    .naranja{
    font-size: 15px;
}
    .triple .bloquetriple .misas h2 span{
    font-size: 10px;
}
    .triple #cuatro{
        display: flex;
    }
    .triple #uno, .triple #dos, .triple #tres, .triple #cinco{
        display: none;
    }
    .mapa iframe{
        width: 300px;
        height: 300px;
    }
    footer .footerc .doble .doble1 .cuadrofoto{
    width: 300px;
}
    footer .footerc .doble .doble1 .cuadrofoto .imagencf img{
        width: 300px;
        height: auto;
        object-fit: cover;
    }
    footer .footerc .doble .doble1 .cuadrofoto .textocf p{
    font-size: 28px;
}
    footer .footerc .doble .doble2 .contacto i{
    font-size: 45px;
}
    footer .footerc .doble .doble2 .contacto p{
    font-size: 18px;
}
    footer .footerc .doble .doble2 .redessociales h2{
    font-size: 18px;
}
    footer .footerc .doble .doble2 .redessociales a i{
    font-size: 40px;
}
    footer .footerc .doble .doble2 .redessociales a i:hover, footer .footerc .doble .doble2 .redessociales a i:focus{
    font-size: 35px;
}
    footer .piedepagina{
    height: 80px;
}
    footer .piedepagina p{
    font-size: 12px;
    line-height: 18px;
}
}
@media screen and (max-width: 320px){
    .preload img{
        width: 60px;
        height: auto;
}
    .preload p{
        font-size: 8px;
}
    .header .main-nav{
        display: none;
    } 
    .carousel-item .ctextos{
    right: 15px;
}
    .carousel-item .ctextos1 h2{
    font-size: 8px;
}
    .triple .bloquetriple{
        display: block;
    }
    .triple .bloquetriple .misas{
        width: 100%;
    }
    .triple .bloquetriple .donaciones{
        width: 100%;
    }
    .triple #cinco{
        display: flex;
    }
    .triple #uno, .triple #dos, .triple #tres, .triple #cuatro{
        display: none;
    }
    .mapa iframe{
        width: 220px;
        height: 300px;
    }
    footer .footerc h2{
    padding-left: 0;
}
    footer .footerc .doble .doble1 .cuadrofoto{
    width: 220px;
}
    footer .footerc .doble .doble1 .cuadrofoto .imagencf img{
        width: 220px;
    }
    footer .footerc .doble .doble1 .cuadrofoto .textocf p{
    font-size: 20px;
}
    footer .footerc .doble .doble2 .contacto p{
    font-size: 12px;
}
    footer .piedepagina p{
    font-size: 10px;
    line-height: 12px;
}
    footer .footerc .doble .doble1 .cuadrofoto .textocf{
    line-height: 18px;
    padding: 5px;
}
    footer .footerc .doble .doble1 .cuadrofoto .textocf h1,
    footer .footerc .doble .doble1 .cuadrofoto .textocf h2,
    footer .footerc .doble .doble1 .cuadrofoto .textocf p{
    padding: 5px 0;
}
}
